.banner-interno__titulo__icono i
  color: #12263F !important
  
.bloque-texto-a.color-secundario
  background-image: url(../assets/curso/tema1/img1.png)
  background-size: 670px
  background-repeat: no-repeat

.bloque-texto-a.color-secundario::before
  background-color: #D44F4A

.bloque-texto-a.color-acento-contenido
  background-image: url(../assets/curso/tema1/img13.png)
  background-position: -120px -60px
  background-size: 670px
  background-repeat: no-repeat

.bloque-texto-a.color-acento-contenido::before
  background-color: #D44F4A

.bloque-texto-a.color-terciario
  background-image: url(../assets/curso/tema8/img1.png)
  background-position: -140px 0px
  background-size: 900px
  background-repeat: no-repeat

.bloque-texto-a.color-terciario::before
  background-color: #D44F4A

.cajon.color-secundario
  background-color: #FFF8E3

.tabs-c.color-primario .tabs-c__tab--active
  font-weight: bold
  border-bottom-color: #FFC200 !important

.tabs-c.color-primario .tabs-c__tab--active::before
  border-top-color: #FFC200

.tabla-b tr:nth-child(2n), .tabla-c tr:nth-child(2n)
  background-color: #FFF8E3

.tarjeta.color-primario
  background-color: #F8E2E2

.tarjeta.color-acento-botones1
  background-color: #DEE4F0

.tarjeta.color-acento-botones *
  color: #000000

.tarjeta--gris
  background-image: url(../assets/curso/tema1/img20.svg)
  background-size: cover
  background-color: #FFFFFF

.bloque-texto-c.color-secundario
  background-color: #FEE9CC

.bloque-texto-c i
  color: #EA3065

.bloque-texto-c::after
  background-color: #EA3065

.tarjeta.color-acento-botones--borde
  background-color: #FFF8E3
  border: none

.tabs-a__tab
  background-color: #E8E8E8

.tabs-a.color-acento-botones .tabs-a__tab__selected::before
  background-color: #D44F4A

.tabs-a.color-acento-botones .tabs-a__tab__selected
  background-color: #D44F4A

.tabs-a.color-acento-botones .tabs-a__tab:hover, .tabs-a.color-acento-botones .tabs-a__tab:active, .tabs-a.color-acento-botones .tabs-a__tab:focus
  background-color: #D44F4A

.bloque-texto-a.color-acento-botones
  background-image: url(../assets/curso/tema4/img1.png)
  background-position: -140px 0px
  background-size: cover
  background-repeat: no-repeat
  background-color: #FFFFFF

.bloque-texto-a.color-acento-botones::before
  background-color: #D44F4A

.tarjeta--azul
  background-image: url(../assets/curso/tema5/img1.svg)
  background-repeat: no-repeat
  background-size: cover

.tarjeta--verde
  background-image: url(../assets/curso/tema6/img2.svg)
  background-repeat: no-repeat
  background-size: cover

.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-image: none

.pasos-b.color-acento-contenido .pasos-b__header__item--active .pasos-b__header__item__dot
  background-color: #D44F4A
  border-color: #D44F4A

.img-infografica__card, .img-infografica-b__card
  width: 350px

.tarjeta.color-acento-botones
  background-color: #FFFFFF
  border: 1px solid #D44F4A

.tarjeta.color-primario
  background-color: #F8E2E2

.tarjeta.color-acento-contenido
  background-color: #FEE9CC

.tarjeta.color-secundario
  background-color: #FFF8E3
  p
    color: #000000
    b
      color: #000000

.titulo-sexto.color-1
  border-left-color: #d5b64c

.titulo-sexto.color-2
  border-left-color: #4d2311

.titulo-sexto.color-3
  border-left-color: #f4e703

.titulo-sexto.color-4
  border-left-color: #e42622

.titulo-sexto.color-5
  border-left-color: #eb007f

.titulo-sexto.color-6
  border-left-color: #c5c5c5

.titulo-sexto.color-7
  border-left-color: #029bdd

.titulo-sexto.color-8
  border-left-color: #43b035

.titulo-sexto.color-9
  border-left-color: #7d2283

.titulo-sexto.color-10
  border-left-color: #747476

.titulo-sexto.color-11
  border-left-color: #FFFFFF

.titulo-sexto.color-12
  border-left-color: #000000

.banner-principal__img
  background-image: url("../assets/curso/banner/banner1.png")
  align-self: stretch
  background-repeat: no-repeat, no-repeat
  background-position: 50% center, 50% 50%
  background-size: 55%, 55%
  animation: Flitp 2s ease infinite  
  img
    display: none !important

@keyframes Flitp
  16.66%
    background-image: url("../assets/curso/banner/banner1.png")
  33.33%
    background-image: url("../assets/curso/banner/banner2.png")
  50%
    background-image: url("../assets/curso/banner/banner3.png")
    background-position: 45% center, 50% 40%
  66.6%
    background-image: url("../assets/curso/banner/banner4.png")
  83.19%
    background-image: url("../assets/curso/banner/banner5.png")

.bg-color1
  border-bottom: 5px solid #D44F4A

.bg-color2
  background-image: url(../assets/curso/tema1/img2.svg)
  margin-inline: -3.2rem !important
  background-repeat: no-repeat
  background-size: cover

.bg-color3
  background-color: #F8E2E2
  border-radius: 20px

.bg-color4
  background-color: #FFFFFF
  border-radius: 30px

.bg-color5
  border: 2px solid #D44F4A

.bg-color6
  background-color: #F8E2E2

.bg-color7
  position: relative
  background-image: url(../assets/curso/tema1/img36.svg)
  margin-inline: -3.2rem !important
  background-repeat: no-repeat
  background-size: 1400px

.bg-color8
  background-color: #FFF8E3
  border-radius: 20px

.bg-color9
  border: 2px solid #FFC200
  border-radius: 20px

.bg-color10
  background-image: url(../assets/curso/tema3/img4.svg)
  margin-inline: -3.2rem !important
  background-repeat: no-repeat
  background-size: cover

.bg-color11
  background-color: #F8E2E2
  border-radius: 20px

.bg-color12
  background-color: #D44F4A
  border-radius: 20px
  transition: all 500ms ease
  p
    transition: all 500ms ease
    color: #FFFFFF
    font-weight: bold

.bg-color12:hover
  background-color: #FFC200
  transition: all 500ms ease
  p
    color: #000000
    transition: all 500ms ease

.bg-color13
  background-color: #D44F4A

.bg-color14
  background-image: url(../assets/curso/tema7/img2.svg)
  margin-inline: -3.2rem !important
  background-repeat: no-repeat
  background-size: cover

.bg-color15
  background-image: url(../assets/curso/tema7/img2.png)
  background-repeat: no-repeat
  background-size: contain

.bg-color16
  background-color: #FFFFFF
  border-radius: 20px

.bg-color17
  background-color: #FFF8E3
  border-radius: 20px

.text-deco1
  color: #D44F4A

.text-deco2
  position: relative
  top: -40px

.text-deco3
  position: relative
  top: -30px

.img-deco1
  position: absolute
  left: 14%
  top: 13%

.img-deco2
  position: relative
  top: -70px

.efect1
  transition: all 500ms ease

.efect1:hover
  background-image: url(../assets/curso/tema1/img39.svg)
  background-size: contain
  background-repeat: no-repeat
  transform: scale(1.2)

@media screen and ( max-width: 1400px )

  .img-deco1
    top: 14.1%

@media screen and ( max-width: 1200px )

  .banner-principal__img
    background-size: 70%, 70%

  .img-deco1
    top: 18.5%

@media screen and ( max-width: 992px )

  .img-deco1
    left: 13%
    top: 24.5%

@media screen and ( max-width: 768px )

  .img-deco1
    left: 5%
    top: 31%